@font-face {
    font-family: 'Exo 2';
    src: url(./fonts/Exo-2/Exo2-VariableFont_wght.ttf);
}

/*---WEBSITE LAYOUT STYLING---*/

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Exo 2';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/pc-full-background-image.jpg");
    background-size: cover;
    background-color: black;
}

.section {
    width: 40%;
    min-width: 430px;
    padding: 10px 40px;
    border-radius: 25px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
    border: 5px solid blueviolet;
    background-color: darkgray;
}

/*---ID SELECTOR ELEMENT STYLING---*/

#logo, #wide-image {
    border: unset;
    border-radius: unset;
}

#wide-image {
    width: 426px;
    height: 240px;
}

/*---INDIVIDUAL SECTION STYLING---*/

.one,
.four,
.header {
    justify-content: space-between;
}

.header {
    margin-top: 24px;
}

.footer {
    text-align: center;
}

.one,
.two {
    min-height: 400px;
}

.three,
.four {
    min-height: 300px;
}

.two,
.three {
    flex-direction: column;
}

/*---SECTION CONTENT STYLING---*/

.container {
    flex: 0 1 500px;
}

.user {
    justify-content: flex-end;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 750px;
}

.info {
    text-align: center;
    flex: 0 1 150px;
}

/*---MISCELLANIOUS STYLING---*/

img {
    border-radius: 25px;
    border: 8px solid blueviolet;
    width: 150px;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0px 16px;
}

a {
    text-decoration: none;
}